[mysql] # Pay attention to mysql here, if you don’t have it, write your own
default-character-set=utf8

[mysqld]
datadir = /var/lib/mysql
socket  = /run/mysqld/mysqld.sock
bind_address=*
port = 3306
user = mysql